@model CapstoneProject.Models.Account_Models.ManageReviewPageModel
@{
    ViewData["Title"] = "Made By Me Studio";
}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    /* Slideshow container */
    .slideshow-container {
      /*max-width: 700px;*/
      position: relative;
      margin: auto;
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 7.5s;
    }

    @@keyframes fade {
      from {opacity: .4} 
      to {opacity: .9}
    }

    /* On smaller screens, decrease text size */
    @@media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }

    .spotifybutton{
        display: inline-block; outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 17px 48px;
        color: #fff;
        background-color: #89CFF0;
        height: 48px;
    }
    .spotifybutton:hover
    {
        transform: scale(1.04);
        background-color: #0F1F40;
        color: white;
    }

    .sectionImage {
        background-image: url('https://static.vecteezy.com/system/resources/previews/001/313/515/non_2x/blue-textured-background-with-sewing-tools-free-photo.jpg');
        background-size: cover; /* Adjust the background size as needed */
        background-position: center; /* Adjust the background position as needed */
        background-repeat: no-repeat; /* Prevent background image from repeating */
        padding: 20px; /* Add padding to your section if necessary */
        color: white; /* Text color */
        text-align: center;
        opacity: 0.9;
    }

    .review-boxes {
        width: 300px;
        height: 350px;
        margin: 30px;
        background-color: #0F1F40 !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        border: 1px solid #0F1F40;
        padding: 30px;
        color: white;
        position: relative;
        overflow: hidden;
    }

</style>
</head>
<body style="background-color:#F0FFFF">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="img\shutterstock_147651662.jpg" style="width:100%" height="870">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="img\sewing-threads-2bfd36b.jpg" style="width:100%" height="870">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
        <img src="img\blog-banner.jpg" style="width:100%" height="870">
            <div class="text"></div>
        </div>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script>

        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 7500); // Change image every 7.5 seconds
        }
    </script>

    <section style="padding: 20px;">
        <h2 style="text-align: center; padding: 20px; color: black; font-size: 50px;">Made By Me Sewing Studio</h2>
        <p style="text-align: left; padding-left: 10px; color: grey; font-style: italic; font-size: 18px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div style="text-align: center; padding: 30px;">
            <a asp-action="AddAppointment" style="align-content: center;">
                <button type="button" class="btn btn-light spotifybutton">
                    Book Now
                </button>
            </a>
        </div>

    </section>

    <section class="sectionImage">
        <h2 style="text-align: center; padding: 10px; padding-top: 100px; position: relative; color: white; width:70%;">About Us</h2>
        <p style="text-align: center; padding-left: 10px; padding-bottom: 200px; color: grey; width:70%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>

    <div class="text-center" style="margin: auto; width: 100%; padding: 10px;">
        <h3 style="font-size: 50px; padding: 20px;">Reviews</h3>

        <div>
            @foreach (CapstoneProject.Models.Account_Models.ReviewInformation review in Model.Reviews)
            {
                <div class="review-boxes" style="display:inline-block; width:auto; padding: 10px; padding-left: 30px; padding-right: 30px; padding-top: 30px; width: 28%;">
                    <h4>@review.ReviewTitle</h4>
                    <p>@review.Rating/5</p>
                    <p>@review.Review</p>
                    <p>By @review.ReviewerName</p>
                </div>
            }
        </div>
        <div style="text-align: center; padding: 20px;">
            <a asp-action="AddReview" style="align-content: center;">
                <button type="button" class="btn btn-light spotifybutton">
                    Write Review
                </button>
            </a>
        </div>
    </div>

    <section style="background-color: #0F1F40; padding: 20px; ">
        <h2 style="text-align: center; padding: 10px; color: white; font-size: 40px;">Contact Us</h2>
        <p style="text-align: center; padding-left: 10px; color: grey; font-size: 20px;">
            Email:  <a href="">madebymestudio@outlook.com</a><br />
            Phone: <a href="">905-555-3029</a><br /><br />

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92651.75066658214!2d-79.82330357346146!3d43.47380650337369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b5d28315b07cd%3A0xffcd239cf878470e!2sSheridan%20College%20Trafalgar%20Road%20Campus!5e0!3m2!1sen!2sca!4v1701835521335!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </p>
    </section>
</body>
</html>
